* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    /* color: #222; */
}
 
.container_quiz{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.h1_quiz {
    text-align: center;
}


.question {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.answer {
    border: 0;
   border-radius: 10px;
   background: #fcb303;
   color: rgb(255, 255, 255);
   padding: 10px 25px;
   width: 70%;
   font-size: 15pt;
   display: block;
   margin: 2px auto;
   cursor: pointer;
}

.answer li {
    background: #ff0101;
    margin: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.answer li:hover {
    background: #7c4141;
    font-weight: bold;
}

.answer li:active{
    background: #8b8b8b
}

.result {
    padding: 30px 0;
    font-size: 18px;
    line-height: 150%;
}

.result-img {
    max-width: 600px;
    display: block;
    margin: 10px auto;
}

.reload-button {
    display: block;
    margin: 20px auto;
    background-color: #ff0000;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    min-width: 200px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.reload-button:hover {
    background: #acacac;
}

.block-cover {
    
    padding: 10px;
    text-align: center;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition: all ease 1s;
}

a .block-cover {
    text-decoration: none;
}

a .block-cover:hover {
    background: #e0e0e0;
}

.block-cover img{
    max-width: 100%;
}

.block-25 {
    float: left;
    width: 33.333%;
}

.block-25 a {
    text-decoration: none;
}

.footer-ul {
    padding: 40px;
}

footer {
    border-top: 1px solid rgb(148, 11, 11);
    margin: 50px  0;
    /* padding-top: 40px; */
}

footer h2 {
    font-size: 20px;
    margin: 30px 0 ;
}